@model IEnumerable< SFBCPanel.Models.PaymentsReportModel>
@using SFBCPanel.Models;

@{
    ViewBag.Title = "Payments Deatils";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // List<PaymentsReportModel> billersreport = Session["billersreport"] as List<PaymentsReportModel>;

    //List<SelectListItem> billers = Session["bilers"] as List<SelectListItem>;
}

<header>
    <script src="~/Content/jquery.dataTables.js"></script>
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <style>

        * {
            overflow-y: visible;
        }

        td {
            font-size: small !important;
        }
    </style>

    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
        });
    </script>
</header>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <h2>Transaction Status details</h2><br />
                <ol class="breadcrumb" style="font-size:medium">
                    Transaction details
                </ol>

                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success!</strong> @ViewBag.SuccessMessage
                    </div>
                }
                <div class="box-body">
                    @using (Html.BeginForm("PaymentsReportDetails"))
                    {

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div>

                            </div>
                            <div class="form-group">
                            </div>
                            <table id="example" class="display nowrap" style="font-size:small">
                                <thead>

                                    <tr>
                                        <th style="font-size:small">
                                            Transaction ID
                                        </th>

                                        <th style="font-size:small">
                                            Biller Sub ID
                                        </th>
                                        <th style="font-size:small">
                                            Biller Staus
                                        </th>

                                        <th style="font-size:small">
                                            Bank Staus
                                        </th>

                                        <th style="font-size:small">
                                            Operation Status
                                        </th>

                                        <th style="font-size:small">
                                            Operation Message
                                        </th>
                                        <th style="font-size:small">
                                            Biller Status
                                        </th>

                                        <th style="font-size:small">
                                            Action
                                        </th>


                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @foreach (var transaction in Model)
                                    {



                                        <tr>
                                            <td style="font-size:small">
                                                @transaction.tran_id
                                            </td>
                                            <td style="font-size:small">
                                                @transaction.SubBillersId
                                            </td>
                                            <td style="font-size:small">
                                                @transaction.biller_response
                                            </td>
                                            <td style="font-size:small">
                                                @transaction.bnk_response
                                            </td>

                                            <td style="font-size:small">
                                                @transaction.status
                                            </td>

                                            <td style="font-size:small">
                                                @transaction.message
                                            </td>

                                            <td style="font-size:small">
                                                @transaction.bil_message
                                            </td>
                                            @if (transaction.bil_message != "Successful")
                                            {

                                                <td style="font-size:small">
                                                    @Html.ActionLink("Details", "PaymentsReportChangeStatus", new { tran_id = transaction.tran_id, service_code = transaction.SubBillersId }, new { @class = "btn btn-block btn-flat", value = "Details" })
                                                </td>
                                            }



                                        </tr>





                                    }
                                </tbody>
                            </table>
                            <br />
                            <br />
                        </div>
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-xs-57 col-xs-offset-6" style="position:relative;right:9%">
            <input type="submit" onclick="submitanddisable()" formaction="@Url.Action("CreatebillerPdf", "CustomerReport")" value="Print report" class="btn btn-lg" style="color:white;font-size:small" />
        </div>*@

    @*<div class="box-footer">
        <p>
            @using (Html.BeginForm("SavePDF4", "CustomerReport"))
            {
                <br />
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-5">
                        <input type="submit" value="Print" class="btn btn-block btn-flat" style="color:white;font-size:small" />
                    </div>
                </div>
            }
        </p>
    </div>*@
    <br />
    <br />
</section>

<script>
    $("#filterbutton").on("click", function () {
        if ($("#fromdate").val() == "" || $("#todate").val() == "") {
            alert("Please select date filter");
        } else {
            $('#overlay').show();
            $.ajax({
                type: 'Post',
                cache: false,
                url: '/CustomerReport/PaymentsReport',
                dataType: 'json',
                data: {
                    fromdate: $("#fromdate").val(),
                    todate: $("#todate").val(),
                    biller: $("#biller").val()
                },
                contentType: 'application/json',
                success: function (result) {
                    $("#example").dataTable().fnClearTable();
                    $.each(result, function (status, data) {
                        $.each(data, function (innerstatus, innerdata) {
                            var data = [];
                            //data.push(innerdata.bbl_id);
                            //data.push(innerdata.bbl_trandate);
                            //data.push(innerdata.bil_name);
                            //data.push(innerdata.bbl_customername);
                            //data.push(innerdata.bbl_billervoucher);
                            //data.push(innerdata.bbl_billamount);
                            //data.push(innerdata.bbl_sys_traceno);
                            //data.push(innerdata.bbl_response);
                            //data.push(innerdata.bbl_bnkresponse);

                            data.push(innerdata.ID);
                            data.push(innerdata.TRAN_Data);
                            data.push(innerdata.Biller_Name);
                            data.push(innerdata.BILLER_VOUCHER);
                            data.push(innerdata.BILL_AMOUNT);
                            data.push(innerdata.BBL_BILLERRESPONSE);
                            data.push(innerdata.BBL_BNKREFRENCE);
                            data.push(innerdata.BBL_SYS_TRACENO);
                            $("#example").dataTable().fnAddData(data);
                        });
                    });
                    $('#overlay').hide();
                }
            });
        }
    });
</script>
